body {
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.carphoto {
    display: block;
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.topnav {

}

.topnav img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 50%;
}

.bottomnav {
    overflow: hidden;
    background-color: darkgrey;
}

    .bottomnav a {
        float: left;
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 100%;
    }

    .bottomnav a:hover {
        background-color: darkgray;
        color: honeydew;
    }

    .bottomnav .searchbar {
        float: right;
        margin-right: 8px;
    }

    .bottomnav input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
    }

    .bottomnav .searchbar button:hover {
        background: #ccc;
    }

.registerTable {
    width: 40%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

.footerbar {
    overflow: hidden;
    background-color: darkgrey;
    text-align: center;
}