body {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 5%;
    padding-right: 5%;
    overflow: auto;
}

.carphoto {
    display: block;
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.topnav img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 50%;
}

.bottomnav {
    overflow: hidden;
    background-color: darkgrey;
}

    .bottomnav a {
        float: left;
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 100%;
    }

        .bottomnav a:hover {
            background-color: darkgray;
            color: honeydew;
        }

    .bottomnav .searchbar {
        float: right;
        margin-right: 8px;
    }

    .bottomnav input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
    }

    .bottomnav .searchbar button:hover {
        background: #ccc;
    }

    .bottomnav .shoppingCart {
        border: transparent;
        font-size: 20px;
        background-color: darkgrey;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
        font-size: 100%;
    }

        .bottomnav .shoppingCart:hover {
            background-color: darkgrey;
            color: honeydew;
            cursor: pointer;
        }

        .bottomnav .shoppingCart:focus {
        }

.centerLogin {
    position: relative;
    display: block;
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.registerTable {
    border: 1px solid black;
}

    .registerTable .tabletop {
        background-color: black;
        color: white;
    }

.transparentButton {
    border: transparent;
}

.product {
    width: 100%;
    padding-bottom: 30px;
    border-collapse: collapse;
}

    .product tr {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .product tr:last-child {
        border-bottom: none;
    }

    .product h1 {
        font-size: 25px;
    }

    .product h2 {
        font-size: 20px;
    }

    .product h3 {
        font-size: 15px;
    }

    .product p {
        font-size: 12px;
    }

    .product .pImage {
        max-width: 200px;
        height: auto;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 20%;
        padding-bottom: 20%;
        float: left;
    }

    .product .pInfo {
        max-width: 40%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .product .addToCart {
        border: transparent;
        font-size: 20px;
        background-color: greenyellow;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
        font-size: 100%;
    }

.mainbody {
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}

.tableCart {
    float: left;
    width: 75%;
}

.aspRow {
    width: 25%;
}

.rightCart {
    border: 1px solid black;
    float: right;
    width: 24%;
    font-size: 15px;
}

.footerbar {
    position: fixed sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background-color: darkgrey;
    text-align: center;
}
